<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/template/head::head"></head>
<body>

	<div id="wrapper">
		<nav th:replace="manage/template/navbar::navbar"></nav>
		<aside th:replace="manage/template/aside::aside"></aside>


		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row p-2">safsdfsdf</div>

			</div>
			<div id="page-wrapper">
				<footer th:replace="manage/template/footer::footer"></footer>
			</div>
		</div>
	</div>

</body>
</html>