
<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">

	<div class="card my-2">
		<h5 class="card-header">Tìm kiếm khóa học</h5>
		<div class="card-body">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Tìm kiếm...">
				<span class="input-group-btn">
					<button class="btn btn-outline-success" type="button">Tìm
						kiếm</button>
				</span>
			</div>
		</div>
	</div>


	<!-- Categories Widget -->
	<div class="card my-2">
		<h5 class="card-header">Categories</h5>
		<div class="card-body" style="padding: 0px 0px;">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled mb-0 sidebar_menu">
						<li><a  th:href="@{/student/xem-bang-diem}">Xem bảng điểm</a></li>
						<li><a th:href="@{/student/xem-chuan-dau-ra}">Xem chuần đầu ra</a></li>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Design</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>


	<!-- Side Widget -->
	<div class="card my-2">
		<h5 class="card-header">Thông tin website</h5>
		<div class="card-body">You can put anything you want inside of
			these side widgets. They are easy to use, and feature the new
			Bootstrap 4 card containers!</div>
	</div>






</div>
