<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:replace="lecturer/template/head::head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="lecturer/template/nav::nav"></nav>
	<header th:replace="lecturer/template/header::header"></header>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div th:replace="lecturer/template/sidebar::sidebar"></div>
			</div>
			<!-- Post Content Column -->
			<div class="col-lg-8">

				<div class="card my-2 monhoc">
					<h5 class="card-header">Danh sách các môn học</h5>
				</div>

				<div class="card my-2" th:each="subject : ${user.subjects}">
					<div class="card-body card_body_monhoc" style="padding: 12px 20px;">
						<h4 style="font-size: 18px;">
							<a th:href="@{/lecturer/subject/} + ${subject.idSubject}"
								th:text="${subject.nameSubject}">Tối ưu hóa công cụ tìm kiếm
								- IE204.J21</a>
						</h4>
						<p style="margin: 0px">Giáo viên giảng dạy: adsfads</p>
						<p style="margin: 0px">Giáo viên thực hành: adsfads</p>
						<p style="margin: 0px">Số tín chỉ: 4</p>
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer>
		<div th:replace="lecturer/template/footer::footer"></div>
	</footer>


</body>

</html>